
/* Fonts
================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&family=Quintessential&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* Général
================================================== */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    
}

html{
	scroll-behavior:smooth;
}

h1, h2, h3 {
  font-family: "Poppins";
  letter-spacing: 5px;
}

h2 {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ebebeb;
  font-family:"Poppins";
  font-weight: bold;
}

.paragraph{
  color: #ebebeb;
  letter-spacing: 3px;
  margin-top: 10px;
}


.hrTitle {
  border: none;
  border-top: 5px solid #B0F2B6;
  width: 100px;
  margin: 0 auto 50px auto;
}

.hrTitle2 {
  border: none;
  border-top: 5px solid #8eeb96;
  width: 100px;
  margin: 0 auto 50px auto;
}

.classic{
  margin-top: 40px;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 5px;
  background: transparent;
  border: 1px solid #ebebeb;
}

.classic:hover{
  border: 1px solid #B0F2B6;
}

.classic2{
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  letter-spacing: 5px;
  color: rgb(14,14,14);
  background: transparent;
  border: 2px solid #ebebeb;
}

.circle{
  width: 15px;
  padding: 5px;
  border: 1px solid #ebebeb;
  color: rgb(14,14,14);
  border-radius: 50%;
  background-color: #ebebeb;
  font-size: 12px;
  margin-top: 10px;
}

.strong{
  font-weight: bold;
}

.white{
  color: white;
}

.grey{
  color: #ebebeb;
}

.green{
  color: #B0F2B6;
}

.underGreen{
  text-decoration: underline #B0F2B6;
  color: #B0F2B6;
}

.none{
  display: none;
}


/* Burger navigation
================================================== */

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 2%;
  }

.burgerIcon img , .xIcon img{
    width: 50px;  
}

.xIcon img{
    width: 35px;  
}
  
.xIcon {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  transform: translateY(-200%);
  transition: transform 1s;
  list-style: none;
  padding-top: 60px;
  text-align: center;
  background-color: black;
  z-index: 10;
}

.showMenu {
  transform: translateY(0);
}

#burger ul
{
  position: relative;
}
#burger li
{
  list-style: none;
  text-align: center;
  width: 25%;
  margin: 30px auto;
}
#burger li a
{
  color: #616060;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-flex;
  font-size: 60px;
  font-weight: 900;
  transition: 0.5s;
}

#burger:hover li a
{
  color: rgba(255, 253, 253, 0.602);
  
}

#burger li:hover a
{
  color: black;
  background-color: #b0f2b5a6;
}
.menu li a:before
{
  content: '';
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 220px;
  color: rgba(168, 168, 168, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s,left 0.5s;
  font-style: italic;
}
#burger li a:hover:before
{
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

/* Header
================================================== */

header {
	background: url(images/background.png) no-repeat center ;
	background-size: cover;
	text-align: center;
  padding-top: 10%;
}

#CTA{
  display: flex;
  justify-content: space-around;
  width:400px;
  margin: auto;
  margin-bottom: 500px;
  font-size: 30px;
}

#CTA button {
  font-size: 14px;
}


#networks{
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 300px;
  width: 20%;
  min-width: 400px;
  text-align: center;
}

#networks li{
  list-style-type: none;
  font-size: 30px;
}

#networks li :hover{
  color: #B0F2B6;
}

.shake-bottom {
	-webkit-animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s 2 both;
	        animation: shake-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s 2 both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.hrHead{
  width: 80%;
  margin: 55px auto 0 auto;
}



/* Animation SVG Nom prénom*/


path{
    stroke-dasharray: 2333px;
    stroke-dashoffset: 2333px;
    animation: anim 40s ease forwards, opacityPath 4s ease-in-out;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes opacityPath {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

/* Animation Info au chargement*/

#info p {
  font-size: 22px;
}

 #info {
 animation: opacityInfo 6s ease-in-out;
}

@keyframes opacityInfo {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

#logo {
  width: 250px;
  animation: opacityLogo 6s ease-in-out;
}

@keyframes opacityLogo {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}


/* A propos
================================================== */

#histoire {
    background-color: transparent;
    border: 1px solid #B0F2B6;
    margin-bottom: 2%;
    width: 80%;
    margin:50px auto;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    padding: 20px;
    color: #ebebeb;
}

#micro {
 display: flex;
 align-items: center; 
 justify-content: center;
}

#micro p{
  line-height: 35px;
 }

#micro img{
  width: 180px;
  height: 180px;
  margin: 20px 50px;
  border-radius: 50%;
  box-shadow:
    0 0 38px #fff,
    inset 0 0 8px #fff,
    0 0 25px #B0F2B6,
    inset 0 0 16px #B0F2B6,
    0 0 32px #B0F2B6,
    inset 0 0 32px #B0F2B6; 
}

#visiter {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#about{
  background-color: rgb(14,14,14);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.slide-in-left{
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1.5s ease-in-out,
  opacity 1.5s ease-in-out;
}

.slide-in-left.active {
  transform: translateX(0%);
  opacity: 1.5;
}

.slide-in-left-dos{
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1.5s ease-in-out,
  opacity 1.5s ease-in-out;
}
.slide-in-left-dos.active {
  transform: translateX(0%);
  opacity: 1.5;
}

#career {
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-size: 22px;
 line-height: 35px;
}

#photo{
  text-align: center;
  margin-bottom: 50px;
}

#career img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

#career ul{
  list-style-type: none;
  text-align: left;
}

#career ul:nth-child(3){
 margin-bottom: 100px;
}

#career ul li{
  list-style-type: none;
  text-align: left;
  padding-bottom: 50px;
}

.icon-graduation{
  background: #B0F2B6;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  height:40px; 
  width: 40px
}

.icon-briefcase{
  background: #B0F2B6;
  border-radius: 50%;
  padding: 10px 12.5px;
  margin: 0 20px;
}

.bigIcon-briefcase , .bigIcon-graduation{
  text-align: center;
  margin: 50px auto;
  display: none;
}

.bigIcon-briefcase span{
  background: #B0F2B6;
  border-radius: 50%;
  text-align: center;
  padding: 10px 13px;
  font-size: 40px;
}

.bigIcon-graduation span{
  background: #B0F2B6;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

.hrResp{
  width:900px; 
  margin: auto;
  display: none;
  margin-bottom: 50px;
}

.hrAbout {
  border: none;
  border-top: 5px solid #B0F2B6;
  width: 10%;
  margin: 10px 0px 0px 25%;
}


/* Compétences
================================================== */

#container{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.pourcent {
  position:relative;
  margin-bottom: 50px;
}

.level{
  height: 150px;
  width: 150px;
}

/* HTML */

.pourcent1 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent1 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent1 svg circle:nth-child(2).scroll{
 animation: circle-pourcent1 4s forwards;
}

@keyframes circle-pourcent1{
  to{
      stroke-dashoffset: 50;
  }
}

/* CSS */

.pourcent2 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent2 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent2 svg circle:nth-child(2).scroll{
 animation: circle-pourcent2 4s forwards;
}

@keyframes circle-pourcent2{
  to{
      stroke-dashoffset: 50;
  }
}

/* Javascript */

.pourcent3 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent3 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent3 svg circle:nth-child(2).scroll{
 animation: circle-pourcent3 4s forwards;
}

@keyframes circle-pourcent3{
  to{
      stroke-dashoffset: 100;
  }
}

/* Wordpress */

.pourcent4 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent4 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent4 svg circle:nth-child(2).scroll{
 animation: circle-pourcent3 4s forwards;
}

@keyframes circle-pourcent4{
  to{
      stroke-dashoffset: 100;
  }
}

/* Bootstrap */

.pourcent5 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent5 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
  
}

.pourcent5 svg circle:nth-child(2).scroll{
 animation: circle-pourcent5 4s forwards;
}

@keyframes circle-pourcent5{
  to{
      stroke-dashoffset: 150;
  }
}

/* Java */

.pourcent6 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent6 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent6 svg circle:nth-child(2).scroll{
 animation: circle-pourcent6 4s forwards;
}

@keyframes circle-pourcent6{
  to{
      stroke-dashoffset: 200;
  }
}

/* Node JS */

.pourcent7 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent7 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent7 svg circle:nth-child(2).scroll{
 animation: circle-pourcent7 4s forwards;
}

@keyframes circle-pourcent7{
  to{
      stroke-dashoffset: 280;
  }
}

/* React*/

.pourcent8 svg circle{
  fill: none;
  stroke: #B0F2B6;
  stroke-width: 10px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent8 svg circle:nth-child(1){
  stroke: #000000;
  stroke-dashoffset: 0;
}

.pourcent8 svg circle:nth-child(2).scroll{
 animation: circle-pourcent8 4s forwards;
}

@keyframes circle-pourcent8{
  to{
      stroke-dashoffset: 320;
  }
}

.langage{
  position: absolute;
  top: 50%;
  left: 4%;
  font-size: 2em;
  font-weight: 500;
  color:#ebebeb;
  text-shadow: 3px 3px 3px black;
}

.icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.icon path:nth-child(1) {
  stroke-dasharray: 2333px;
  stroke-dashoffset: 2333px;
  animation: anim 10s ease forwards;
}
@keyframes anim {
  to {
      stroke-dashoffset: 0;
  }
}

/* Projets
================================================== */

#projets{
  background: #ebebeb;
}

#projectGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  max-width: 1000px;
  margin: auto;
}

.project{
padding: 0;
position: relative;
overflow: hidden;
}

.project img {
  width: 500px;
  height: 500px;
	vertical-align: middle;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.project:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.project .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.project:hover .overlay {
	background: rgba(0, 0, 0, 0.8);
}

.project .folio-title {
	color: #ebebeb;
	font-size: 30px;
	padding: 0 3rem;
	margin-top: 250px;
}



.project .folio-types {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "poppins", sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.6);
}

.visit
{
  height: 60px;
}

.project .folio-types a{
  padding: 10px;
  font-size: 10px;
  letter-spacing: 5px;
  background: transparent;
  border: 1px solid #ebebeb;
}

.project .folio-types a:hover{
  border: 1px solid #B0F2B6;
}

.project .folio-item-cell {
	text-align: center;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: relative;
	left: -100%;
}

.project:hover .folio-item-cell {
	left: 0;
}


/* Services
================================================== */


#services{
  background-color: rgb(14,14,14);
	background-size: cover;
	width: 100%;
  padding-bottom: 50px;
}

#cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.serviceContainer {
  perspective: 1000px;
  height: 28vh;
  width: 23%;
  min-width: 380px;
  margin: 50px;
}

.card {
  transform-style: preserve-3d;
  height: 100%;
  min-height: 230px;
  width: 100%;
  transition: 0.5s ease;
}

.front{
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  color:rgb(14,14,14);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.4em;
  position: absolute;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
   background: linear-gradient(to right,  #a3e0a8, #79a57d);
  color:rgba(14, 14, 14, 0.822);;
}

.front img {
  width: 6em;
}

.content a{
  color: rgb(14,14,14);
}
.content h3 {
  font-size: 22px;
  margin-top: 1em;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.content p {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding: 0 3em;
  font-size: 20px;
  text-align: justify;
}


/* Contact
================================================== */


#contact{
  background-color: rgb(14,14,14);
}


#contactForm{
  width: 800px;
  margin: 0px auto 50px auto;
}

#contactForm input, #contactForm textarea{
  width: 100%;
  height: 65px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  background-color: transparent;
  font-size: 20px;
  font-family: "Poppins";
}

#contactForm input, #contactForm textarea{
  width: 100%;
  height: 65px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  background-color: transparent;
  color: #ebebeb;
  transition: transform 0.5s ease-in-out;
}

#contactForm textarea{
 padding-top: 20px;
}

#contactForm input:focus, #contactForm textarea:focus{
  outline: none;
  border-bottom: 1px solid #B0F2B6;
  transform: translateX(-5%);
}

#contactForm button{
  width: 100%;
  height: 65px;
  margin-top: 20px;
  background-color: #ebebebc9;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 10px;
  cursor: pointer;
}

#contactForm button:hover{
  background: linear-gradient(to right,  #a3e0a8, #475f49);;
}

#contacts ul{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

#contacts ul li {
  list-style-type: none;
  text-align: center;
  min-width: 300px;

}

#contacts ul li h3{
 margin: 20px auto;
 font-size: 25px;
}

#contacts ul li img{
  width: 80px;
}

#contacts ul li p{
  font-size: 14px;
  margin: auto;
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.2s linear infinite both;
          animation: vibrate-1 0.2s linear infinite both;
}

 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 1.5s infinite both;
	        animation: jello-horizontal 1.5s infinite both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}


 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 4s infinite both;
	        animation: wobble-hor-bottom 4s infinite both;
}

 @-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


/* Footer
================================================== */

#footer{
  background-color: #B0F2B6;
  display: flex;
  justify-content: space-around;
  
}

#footer ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
}

#footer ul li{
  list-style-type: none;
}

#footer ul:nth-child(1) li{
  margin-left: 10px;
  font-size: 20px;
}

#footer ul:nth-child(2) li a{
  color: rgb(14,14,14);
  font-size: 25px;
  margin: 0 20px 0 20px;
}

#footer ul:nth-child(2) li a :hover{
  transform: scale(1.5);
}

#linkMention{
  color: rgb(14,14,14);
  font-family:Helvetica;
  font-weight: 500;
}

/* Boutton Back To Top
================================================== */

#btt{
  visibility: hidden;
  opacity: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(14,14,14);
  background: linear-gradient(to right,  #a3e0a8, #79a57d);;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

#btt.showBtt{
  visibility: initial;
  opacity: 1;
}

#btt a{
  color:rgb(14,14,14);
  font-size: 30px;
}


/* Mentions légales
================================================== */

#CTAM{
  padding-bottom: 500px;
}

#mentionsLegales{
 background-color: rgb(14,14,14);
 font-size: 25px;
 padding-bottom: 50px;
}

#mentionsLegales .paragraph{
margin-top: 0;
text-align: justify;
width: 80%;
margin: auto;
}

#mentionsLegales h2, #mentionsLegales h3{
  color:  #B0F2B6;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#mentionsLegales h3{
  margin-top: 50px;
}

#bttM{
  visibility: hidden;
  opacity: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(14,14,14);
  background: linear-gradient(to right,  #a3e0a8, #79a57d);;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

#bttM.showBttM{
  visibility: initial;
  opacity: 1;
}

#bttM a{
  color:rgb(14,14,14);
  font-size: 30px;
}

/* Message envoyé
================================================== */

#typedMessage{
  color: #B0F2B6;
}

#reponse{
  font-size: 30px; 
}

#h2Reponse{
  transition: text-decoration 3s ease-in-out;
} 

@keyframes surligne {
  0%   { text-decoration: none; }
  100% { text-decoration: underline; }
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* Carte de visite
================================================== */

#name2{
  padding-top: 4.5%;
  height: 880px
}

#visite{
  font-size: 40px;
}

